1.Explain with an example each when to use a for loop and a while loop.
Ans:-A for loop is a control flow statement that executes code for a predefined number of iterations.The keyword used in this
control flow statement is 'for'.When the number of statements is allready known then for loop is used.
example:-list = [1,2,3,4,5]
         print("list elements :")
         for i in list :
              print(i)
while loop executes a single statement or a set of statements for a given true condition.This loop is represented by the 
keyword 'while'.It is used only when the number pf iterations isn't known.
example:- i = 0
          while i<10 :
            print(i)
            i += 1

2.Write a python program to print the sum and product of first 10 natural numbers using for and while loop.

In [12]:
sum = 0
for i in range(1, 11):
    sum += i
print("sum is", sum)

sum is 55

In [1]:
product = 1
for i in range(1, 11) :
    product = product * i
print(product)

3628800

In [4]:
i = 1
sum = 0
while i <= 10:
    sum += i
    i += 1
print("The sum is", sum)

The sum is 55

In [17]:
i = 1
product = 1
while i <= 10:
    product = product * i
    i+=1
print("The product is :", product)

The product is : 3628800

3.create a program to compute the electricity bill for a household.

In [21]:
units = int(input("Enter number of units consumed :"))
if(units<=100):
    bill = units * 4.5
elif units >= 101 and units <= 200:
    bill = (100 * 4.5) + (units-100) * 6
elif units >= 201 and units <= 300:
    bill = (100 * 4.5) + (100 * 6) + (units - 200) * 10
else :
    bill = (100 * 4.5) + (100 * 6) + (100 * 10) + (units - 300) * 20
print("Total bill is :", bill)

Enter number of units consumed : 310

Total bill is : 2250.0

4.create a list of numbers from 1 to 100.Use for loop and while loop to create the cube of each number and if the cube is 
divisible by 4 or 5 then append that number in a list and print that list.

In [2]:
l1 = list(range(1,101))
print(l1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [3]:
res = []
for i in l1:
    res.append(pow(i, 3))
print(res)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [19]:
res=[]
i = 1
while i <= 100:
    res.append(pow(i, 3))
    i += 1
print(res)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

In [20]:
res2=[]
for i in range(1, len(res)):
    if (res[i]%4==0 or res[i]%5 == 0):
        res2.append(res[i])
print(res2)

[8, 64, 125, 216, 512, 1000, 1728, 2744, 3375, 4096, 5832, 8000, 10648, 13824, 15625, 17576, 21952, 27000, 32768, 39304, 42875, 46656, 54872, 64000, 74088, 85184, 91125, 97336, 110592, 125000, 140608, 157464, 166375, 175616, 195112, 216000, 238328, 262144, 274625, 287496, 314432, 343000, 373248, 405224, 421875, 438976, 474552, 512000, 551368, 592704, 614125, 636056, 681472, 729000, 778688, 830584, 857375, 884736, 941192, 1000000]

5.Writ a program to filter count vowels in the given below string.
string = "i want to become a data scientist"

In [21]:
string = "i want to become a data scirntist"
count = 0
for i in range(len(string)):
    if ((string[i]=="a")
        or(string[i]=="e")
        or(string[i]=="i")
        or(string[i]=="o")
        or(string[i]=="u")):
        count += 1
print("Number of vowels in the given string are: ", count)

Number of vowels in the given string are:  11